.single-banner {
  height: 35vh;
  background: rgb(237, 146, 237);
  background: linear-gradient(90deg, rgba(237, 146, 237, 1) 0%, rgba(114, 14, 158, 0.9612219887955182) 100%);
}

svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}