<!-- Contact Banner -->
<div class="bg-white px-2 px-md-3 px-lg-4 px-xl-5 py-2 py-md-3">
  <div class="container-fluid contact-outer text-white">
    <div
      class="row contact-banner shadow d-flex justify-content-center rounded-4 align-items-center"
    >
      <div class="col-12">
        <p class="display-1 text-center">Contact Us</p>
      </div>
    </div>
  </div>
</div>

<!-- Contact Form -->
<div class="bg-white px-2 px-md-3 px-lg-4 px-xl-5 my-3">
  <div class="container-fluid bg-light py-3">
    <div
      class="col-12 col-md-9 p-4 p-sm-5 p-md-5 p-lg-5 bg-white col-lg-8 col-xl-7 col-xxl-6 mx-auto bg-light rounded-4 shadow"
    >
      <form class="row g-3" [formGroup]="userForm" (ngSubmit)="userSubmit()">
        <p class="text-center mb-2">
          <span class="fs-2 fw-light">Get In Touch</span> <br />
          <span class="fs-5 fw-light">Send message as breifly as possible</span>
        </p>
        <hr />
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            autocomplete="off"
            type="text"
            [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)"
            class="form-control shadow-none"
            id="name"
            formControlName="name"
            placeholder="Name"
          />
        </div>
        <div class="col-md-6">
          <label for="cemail" class="form-label"
            >Email
            <span class="text-danger" *ngIf="email?.errors?.['email']"
              ><small>* enter valid Email</small></span
            ></label
          >
          <input
            autocomplete="off"
            type="email"
            [class.is-invalid]="
              email?.invalid && (email?.dirty || email?.touched)
            "
            class="form-control shadow-none"
            id="cemail"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div class="col-12">
          <label for="subject" class="form-label"
            >Subject
            <span class="text-danger" *ngIf="subject?.errors?.['maxlength']"
              ><small>* only 50 characters allowed</small></span
            ></label
          >
          <input
            autocomplete="off"
            type="text"
            [class.is-invalid]="
              subject?.invalid && (subject?.dirty || subject?.touched)
            "
            class="form-control shadow-none"
            id="subject"
            formControlName="subject"
            placeholder="Subject"
          />
        </div>
        <div class="col-12">
          <label for="Message" class="form-label"
            >Message
            <span class="text-danger" *ngIf="message?.errors?.['minlength']"
              ><small>* leave message atleast 10 characters</small></span
            ></label
          >
          <textarea
            class="form-control shadow-none"
            id="Message"
            [class.is-invalid]="
              message?.invalid && (message?.dirty || message?.touched)
            "
            placeholder="Fill your message"
            formControlName="message"
            rows="5"
            cols="10"
          ></textarea>
        </div>
        <div class="col-6 col-md-5 col-lg-4 mx-auto d-flex">
          <button
            type="submit"
            class="btn mx-auto btn-primary w-100 shadow-none"
            [disabled]="!userForm.valid"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-12 px-3 col-md-6 mx-auto fixed-top mt-4">
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    tabindex="-1"
    *ngIf="isAlert"
  >
    <strong>{{ alertTitle }}</strong
    ><span class="w-100 text-center"> {{ alertMsg }}</span>
    <button type="button" class="btn-close" (click)="alertDismiss()"></button>
  </div>
</div>
