.contact-banner {
  background: linear-gradient(
      to right,
      rgba(41, 40, 40, 0.559),
      rgba(39, 39, 39, 0.543)
    ),
    url("^assets/contact_page_banner.jpg");
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 400ms ease-in-out;
  @media only screen and (min-width: 768px) {
    height: 45vh;
  }
  &:hover {
    @media only screen and (min-width: 768px) {
      transform: scale(1.1);
    }
  }
}
.contact-outer {
  overflow: hidden !important;
}

input,
textarea {
  background-color: #eaeaea65;
  transition: 300ms;
  &::placeholder {
    padding-left: 1rem !important;
    transition: 400ms;
  }
  &:focus::placeholder {
    padding-left: 0.1rem !important;
    color: #00000089 !important;
  }
}

button[type="submit"]:disabled {
  cursor: not-allowed !important;
}
