<!-- About Banner -->
<div class="bg-white px-2 px-md-3 px-lg-4 px-xl-5 py-2 py-md-3">
  <div class="container-fluid about-outer text-white">
    <div
      class="row about-banner shadow d-flex justify-content-center rounded-4 align-items-center"
    >
      <div class="col-12">
        <p class="display-1 text-center">About Us</p>
      </div>
    </div>
  </div>
</div>

<!-- About Content -->
<div class="bg-white px-2 px-md-3 px-lg-4 px-xl-5">
  <div class="container-fluid mt-3 text-dark bg-light">
    <div class="row mb-5">
      <div class="col-12 p-2 mb-4">
        <p class="display-5 text-center">We welcome's you with our Heart</p>
        <p class="text-center fs-3 mb-2">See our facilites</p>
      </div>
      <div class="col-12 mb-4 bg-white p-2">
        <div class="row mb-2">
          <div class="col-12 col-md-6 mb-2 mb-md-0">
            <div class="card">
              <div class="card-body">
                <ul>
                  <li class="ms-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </li>
                  <li class="ms-3">Debitis qui tempora, dolorum sed</li>
                  <li class="ms-3">Numquam dolore perspiciatis blanditiis</li>
                  <li class="ms-3">
                    Aliquid vitae expedita nostrum, dolorum perferendis
                    similique.
                  </li>
                  <li class="ms-3">
                    pariatur modi eum dignissimos architecto dolore obcaecati.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-2 mb-md-0">
            <div class="card">
              <div class="card-body">
                <ul>
                  <li class="ms-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </li>
                  <li class="ms-3">Debitis qui tempora, dolorum sed</li>
                  <li class="ms-3">Numquam dolore perspiciatis blanditiis</li>
                  <li class="ms-3">
                    Aliquid vitae expedita nostrum, dolorum perferendis
                    similique.
                  </li>
                  <li class="ms-3">
                    pariatur modi eum dignissimos architecto dolore obcaecati.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <div class="card bg-white border-0">
          <div class="card-body">
            <h3 class="card-title">Card Heading</h3>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Blanditiis hic esse praesentium eum alias aspernatur vel ab
              corporis dolor sapiente?
            </p>
            <button class="btn btn-dark">See more</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <div class="card bg-white border-0">
          <div class="card-body">
            <h3 class="card-title">Card Heading</h3>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Blanditiis hic esse praesentium eum alias aspernatur vel ab
              corporis dolor sapiente?
            </p>
            <button class="btn btn-dark">See more</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-2">
        <div class="card bg-white border-0">
          <div class="card-body">
            <h3 class="card-title">Card Heading</h3>
            <p class="card-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Blanditiis hic esse praesentium eum alias aspernatur vel ab
              corporis dolor sapiente?
            </p>
            <button class="btn btn-dark">See more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
