.luxury-banner {
  height: 35vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    148deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
