<!-- Not found Banner -->
<div class="bg-white px-2 px-md-3 px-lg-4 px-xl-5 py-2 py-md-3">
  <div
    class="container-fluid notFound-outer text-white rounded-4 d-flex px-4 px-md-0 justify-content-center align-items-center"
  >
    <div
      class="row notFound-banner shadow d-flex py-2 p-md-3 p-lg-4 justify-content-center align-items-center"
    >
      <div class="col-8 mx-auto">
        <p class="display-4 text-center">Your link has not valid</p>
        <p class="text-center fs-3 fw-light mt-3">OOPS !! 404</p>
      </div>
      <a routerLink="/" class="btn btn-dark w-50 border-0 shadow-none"
        >Go to Home</a
      >
    </div>
  </div>
</div>
